<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGE </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1 align="center">CGE</h1>
        <h3 align="center">Crack Goverment Exams</h3>
        <form>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
             <br>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <br>
            <div algin="center">
            <button type="submit">Login</button>
</div>
        </form>
    </div>
</body>
</html>